<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>WBidMax</string>
	<key>CFBundleIdentifier</key>
	<string>com.wbidmax.wbidipad</string>
	<key>CFBundleName</key>
	<string>WBidMax</string>
	<key>CFBundleShortVersionString</key>
	<string>1.57.6</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Calender using to show bid lines</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>launchStory</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>UserInterfaceStyle</key>
	<string>Light</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please enable Location policy to detect the app using in airplanes.</string>
	<key>CFBundleVersion</key>
	<string>10</string>
</dict>
</plist>
